<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleShortVersionString</key>
        <string>1.8.2</string>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>879262946985-3ift7vrnevq4n81phges74q1hufg2r4l.apps.googleusercontent.com</string>
                    <string>com.googleusercontent.apps.879262946985-3ift7vrnevq4n81phges74q1hufg2r4l</string>
                </array>
            </dict>
        </array>
        <key>CFBundleVersion</key>
        <string>20250618.8</string>
        <key>GIDClientID</key>
        <string>879262946985-3ift7vrnevq4n81phges74q1hufg2r4l.apps.googleusercontent.com</string>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>google</string>
            <string>879262946985-3ift7vrnevq4n81phges74q1hufg2r4l.apps.googleusercontent.com</string>
        </array>
        <key>AppGroupIdentifier</key>
        <string>group.com.delteqws.AdRadar</string>
        <key>UIAppFonts</key>
        <array>
            <string>Sora-Light.ttf</string>
            <string>Sora-Regular.ttf</string>
            <string>Sora-Medium.ttf</string>
            <string>Sora-SemiBold.ttf</string>
            <string>Sora-Bold.ttf</string>
        </array>
    </dict>
</plist>
